// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal {
  width: 400px;
  float: left;
}

.title {
  text-align: center;
}

.forms {
  margin-left: 40px;
  margin-top: 40px;
}

.navbar-default {
  background-color: #5D6D7E;
  height: 60px;
  padding-top: 5px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #D5D8DC;
}

.searchBox {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#search {
  text-align: center;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 40px;
}

.addMovie, .editMovie {
  margin-top: 80px;
  text-align: center;
}

.movieImage {
  width: 200px;


}

.movieTitleContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showContainer {
  margin-top: 60px;
  width: 450px;
  margin-left: 40px;
}

.backLink {
  margin-top: 80px;
  margin-left: 40px;
}
