// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal {
  width: 400px;
  float: left;

}


.title {
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-top: 100px;

}

//
// [class*="col"] {
//   padding-top: 15px;
//   padding-bottom: 15px;
//   background-color: #eee;
//   background-color: rgba(86,61,124,.15);
//   border: 1px solid #ddd;
//   border: 1px solid rgba(86,61,124,.2);
//
// }


.forms {
  margin-left: 40px;
  margin-top: 60px
}

.navbar-default {
  background-color: #5D6D7E;
  height: 60px;
  padding-top: 5px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
